header {
	background-color: #0D47A1;
	border-bottom: solid 4px white;
	margin: 0px;
	padding: 20px;
	z-index: 4;
	color: #B0BEC5;
	box-shadow: 0px 10px 15px #888888
}


.header-logo {
	font-family: Nunito;
	color: white;
	font-size: 35pt;
	display: inline-block;
}

#home {
	background-color: #B0BEC5;
	margin: 0px;
}

.thumbnail-container {
	overflow: scroll;
	height: 80%;
}

.thumbnail {
	display: inline-block;
	border: solid 10px white;
	margin: 15px;
	box-shadow: 10px 10px 5px #888888
}

.thumbnail > img {
	margin-bottom: -4px;
	height: 240px;
}

.thumbnail > img:hover {
	height: 242px;
}

.thumbnail-margin {
	height: 100%;
	width: 20%;
	border: solid 2px orange;
}


.enlarged-photo-background {
	position: absolute;
	height: 100%;
	width: 100%;
	border: solid 2px blue;
	background-color: blue;
	opacity: 0.5;
	z-index: 1;
}

.enlarged-photo {
	position: absolute;
	top: 150px;
	margin: 25px;
	height: 200px;
	opacity: 1;
	z-index: 2;
}

.arrow-right {
  left: -15px;
  width: 0; 
  height: 0; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid white;
  opacity: 0.4;
  display: inline-block;
  margin-bottom: 30%;
  margin-left: 15px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent; 
  border-right:50px solid white;
  opacity: 0.4;
  display: inline-block;
  margin-bottom: 30%;
  margin-right: 15px;
}